.main-div {
  background-image: url("https://t3.ftcdn.net/jpg/02/05/87/60/240_F_205876015_hYYs7ugqoU8QAobSS3TbnGQ92qyS5gEc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  height: 225.6px;
  width: 100%;
  background-color: #e6e6e6;
}

.food-list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.food {
  display: flex;
  flex-direction: column;
  width: 46.5%;
  display: flex;
  margin: 1.6%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background: #dfbaa2;
}

img {
  display: flex;
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
}

.food-text {
  width: 100%;
}

.food-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 10px 10px;
  margin: 10px 0 0 0;
  height: 50%;
  width: 100%;
}

.food-rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btn {
}
